<section class="sidebar">
  <div>
    <ul class="list-items">
      <li *ngFor="let item of menuItems">
        <a 
          class="item"
          [routerLink]="[item['path']]" 
          routerLinkActive="item-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ item['label'] }}
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="list-items">
      <li>
        <a 
          class="item"
          [routerLink]="['/']" 
          routerLinkActive="item-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Raúl Quimbaya
        </a>
      </li>
    </ul>
  </div>
</section>
