<div class="pagination">
  <button 
    class="pagination__arrow" 
    (click)="previousPage()" 
    *ngIf="showArrowLeft"
  >
    <img [src]="pathArrowLeft" alt="Arrow left" />
  </button>
  <button 
    class="page" 
    (click)="changePage($event)" 
    *ngFor="let page of pagesActives"
  >
    <span 
      class="page__number" 
      [ngClass]="{'page__number--active': page === pageNumber + 1}"
    >{{ page }}</span>
  </button>
  <button 
    class="pagination__arrow" 
    (click)="nextPage()" 
    *ngIf="showArrowRight"
  >
    <img [src]="pathArrowRight" alt="Arrow right" />
  </button>
</div>