<atom-button 
  (click)="showModal()"
  [text]="buttonText" 
  [type]="buttonTypeButton" 
  [size]="buttonSizeMedium"
  [isDisabled]="false"
  [isSecondaryButton]="false"
>
  <atom-add-box-icon></atom-add-box-icon>
</atom-button>
<organism-modal-form-basic 
  (modalEvent)="showModalOutput($event)" 
  (formDataEvent)="handleSubmit($event)" 
  (changeStatusSaveButtonEvent)="changeStatusSaveButtonOutput($event)"
  [inputLabel]="inputLabel"
  [inputPlaceholder]="inputPlaceholder"
  [inputName]="inputName"
  [textareaLabel]="textareaLabel"
  [textareaPlaceholder]="textareaPlaceholder"
  [textareaName]="textareaName"
  [buttonSaveText]="buttonSaveText"
  [modalTitle]="modalTitle"
  [modalTitlePrimary]="modalTitlePrimary"
  [nameMaxLength]="nameMaxLength"
  [descriptionMaxLength]="descriptionMaxLength"
  [isDisabledSaveButton]="isDisabledSaveButton"
  [isDisabledDropdowns]="isDisabledDropdowns"
  [moreInputs]="moreInputs"
  [moreFields]="moreFields"
  [resetDropdowns]="resetDropdowns.bind(this)"
>
  <atom-dropdown
    [label]="labelBrandDropdown"
    [label2]="labelBrandDropdown2"
    [options]="optionsBrandDropdown"
    [isErrored]="isErrorBrandDropdown"
    [errorText]="errorTextBrandDropdown"
    (optionChange)="changeBrandValue($event)"
    (resetSelectedOption)="resetOption($event)"
  ></atom-dropdown>
  <atom-dropdown-combobox
    [label]="labelCategoryDropdown"
    [label2]="labelCategoryDropdown2"
    [options]="optionsCategoryDropdown"
    [isErrored]="isErrorCategoryDropdown"
    [errorText]="errorTextCategoryDropdown"
    (optionsChange)="changeCategoryValue($event)"
    (resetSelectedOptions)="resetOptions($event)"
  ></atom-dropdown-combobox>
</organism-modal-form-basic>
<atom-toast
  [pathIcon]="pathIcon"
  [label]="toastMessage"
  [status]="toastStatus"
  (toastEvent)="showToastOutput($event)" 
></atom-toast>