// Colors Corporate
$primary: #9D3FE7;
$primary-hover: #AE60EB;
$primary-click: #6A17AB;
$primary-disabled: #D4D2D5;
$primary-gradient: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);

// Colors Grayscale
$black-color: #1A141F;
$hint-text-color: #4B3A5A;
$border-color: #ABA7AF;
$disabled-color: #D4D2D5;
$spacer-color: #D9D1E0;
$spacer-light-color: #E5E0EB;
$bg-light-grey: #F5F3F7;
$white-color: #FFFFFF;

// Colors Informing 
$error: #D51A52;
$error-light: #f7d1dc;
$attention: #FF9500;
$attention-light: #ffeacc;
$approval: #00B998;
$approval-light: #ccf1ea;
$link: #0F0BAB;