<molecule-header [menuItems]="menuItems"></molecule-header>
<main class="container">
  <section class="hero">
    <div class="hero__titles">
      <h1>¡<span class="hero__titles--primary">Emazon</span>, Tu Tienda Online de Confianza!</h1>
      <p>Explora una amplia variedad de productos seleccionados especialmente para ti.</p>
    </div>
    <div class="hero__image">
      <img src="/assets/empty-cart-undraw.svg" alt="Empty Cart SVG">
    </div>
  </section>
  <h2 class="title-products">Nuestros <span class="title-products--primary">Productos</span></h2>
  <app-list-of-products-to-buy></app-list-of-products-to-buy>
</main>
