<div class="form">
  <h2 class="form__title">
    Registrar <span class="form__title--primary">cuenta</span>
  </h2>
  <molecule-form-basic 
    [buttonSaveText]="buttonSaveText"
    [moreFields]="moreFields"
    [moreInputs]="moreInputs"
    [isDisabledSaveIcon]="isDisabledSaveIcon"
    (changeStatusSaveButtonEvent)="changeStatusSaveButtonOutput($event)"
    (formDataEvent)="handleSubmit($event)"
  >
  </molecule-form-basic>
  <span class="form__footer">
    ¿Ya tienes una cuenta?
    <a 
      class="form__footer--link"
      [routerLink]="['/login']"
    >
      Inicia sesión
    </a>
  </span>
</div>
