<molecule-header [menuItems]="menuItems" [isAdminOrWarehouseAssistantLogged]="isAdminLogged"></molecule-header>
<main class="container">
  <molecule-sidebar [menuItems]="menuItems"></molecule-sidebar>
  <section class="section">
    <div class="titles">
      <h1 class="title">
        Bienvenido a <span class="title--primary">Emazon</span>
      </h1>
      <p class="titles__description">"Administra inventarios, controla existencias y optimiza el almacenamiento con facilidad. Con Emazon, hacemos posible que cada proceso sea más eficiente y preciso."</p>
    </div>
  </section>
</main>
