<section>
  <organism-header-table
    (showFilterOrders)="showFilterOrders($event)"
    [showSortByDropdown]="true"
    [optionsSortByDropdown]="optionsSortByDropdown"
  >
    <app-add-product
      [addNewProductCount]="addNewProductCount.bind(this)"
      *ngIf="showButtonAddProduct"
    ></app-add-product>
  </organism-header-table>
  <organism-table
    [list]="listOfProducts"
    [headers]="headers"
    [keys]="keys"
  ></organism-table>
  <atom-pagination
    [pageNumber]="pageNumber"
    [totalPages]="totalPages"
    (pageNumberChange)="changePage($event)"
  ></atom-pagination>
</section>