<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <atom-input
    [inputLabel]="inputLabel"
    [inputPlaceholder]="inputPlaceholder"
    [inputType]="inputType"
    [inputName]="inputName"
    [isErrored]="hasErrors(inputName)"
    [errorText]="inputErrorText"
    formControlName="{{ inputName }}"
  ></atom-input>
  <atom-textarea
    [textareaLabel]="textareaLabel"
    [textareaPlaceholder]="textareaPlaceholder"
    [textareaName]="textareaName"
    [isErrored]="hasErrors(textareaName)"
    [errorText]="textareaErrorText"
    formControlName="{{ textareaName }}"
  ></atom-textarea>
  
  <div *ngFor="let field of moreInputs">
    <atom-input
      [inputLabel]="field['label']"
      [inputPlaceholder]="field['placeholder']"
      [inputType]="field['type']"
      [inputName]="field['name']"
      [isErrored]="hasErrors(field['name'])"
      [errorText]="field['errorText']"
      formControlName="{{ field['name'] }}"
    ></atom-input>
  </div>
  <ng-content></ng-content>
  <div class="buttons">
    <atom-button 
      [text]="buttonSaveText" 
      [type]="buttonTypeSubmit" 
      [size]="buttonSizeMedium"
      [isDisabled]="isDisabledSaveButton"
      [isSecondaryButton]="false"
      [isFullWidth]="true"
    >
      <atom-save-icon></atom-save-icon>
    </atom-button>
    <atom-button 
      (click)="onShowModal()"
      [text]="buttonCancelText" 
      [type]="buttonTypeButton" 
      [size]="buttonSizeMedium"
      [isDisabled]="false"
      [isSecondaryButton]="true"
      [isFullWidth]="true"
    >
    </atom-button>
  </div>
</form>
