<molecule-header [menuItems]="menuItems"></molecule-header>
<main class="container">
  <div class="titles">
    <h1 class="title">
      Administrar <span class="title--primary">auxiliares de bodega</span>
    </h1>
    <p class="titles__description">Gestiona fácilmente las cuentas de los auxiliares de bodega de Emazon. Crea, y visualiza todas los cuentas en un solo lugar para mantener tus registros organizados y actualizados.</p>
  </div>
  <app-list-of-warehouse-assistant></app-list-of-warehouse-assistant>
</main>