@import '/src/styles/styles.scss';

.container {
  width: 90%;
  margin: 75px auto;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  &__description {
    font-size: 16px;
    font-weight: 400;
  }
}

.title {
  &--primary {
    color: $primary;
  }
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

@media (min-width: 760px) {
  .cart {
    flex-direction: row;
    gap: 40px;

    & :nth-child(1) {
      width: 100%;
    }

    & :nth-child(2) {
      width: 700px;
    }
  }
}